<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main class="container">
      <h2 class="mt-5 mb-5">All Blogs</h2>

      <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
          <div class="border-left border-sucess rounded pl-2">
            <a class="blogs" href="/blogs/<%= blog.id %>">
              <h3> <%= blog.title %> </h3>
              <p> <%= blog.snippet %> </p>
            </a>
          </div>
        <% }) %>  
      <% } else { %>
        <p>There are no blogs at the moment :(</p>
        <a href=""> Add one </a>
      <% } %>  
    </main>
  </body>
</html>